<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>  <!--核心配置-->
    <properties resource="jdbc.properties"/>  <!-- 配置连接数据库的四要素-->
    <settings>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为消极加载，即延迟加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
<typeAliases>
    <package name="com.cjh.pojo"></package>
  </typeAliases>
    <!--设置mybatis运行环境 default默认运行环境是environment节点中的id  -->
    <environments default="mysql">
        <environment id="mysql">
            <!--设置事务管理   后续ssm整合就交给Spring去管理-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据源 POOLED：mybatis自带的数据源  JNDI:tomcat中的数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="com/cjh/dao/CountryMapper.xml"></mapper>-->
        <mapper resource="com/cjh/dao/CountryLazyMapper.xml"></mapper>
    </mappers>
</configuration>